input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
.profiles{
  width: 190px;
  margin: 20px;
  text-align: center;
}
.uploadWrapper{
  border-radius: 5px;
  background: rgb(9, 183, 189);
}
label{
  color: white;
  margin-left: 10;
  font-family: roboto;
}
